.btn {
  position: relative;
  display: inline-block;
  margin: 10px 5px 0;
  font-size: 20px;
  padding: 5px 20px;
  border: 2px solid $dark-gray;
  border-radius: 30px;
  color: $black;
  line-height: 1em;
  font-weight: $bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all 0.2s linear;
    transform: skew(-15deg, 0);
  }
  &::before {
    right: -1px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 10px;
  }
  &::after {
    left: -1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 19px;
  }
  &:last-child {
    &::before {
      right: -2px;
    }
  }
  &:hover {
    color: $white;
    border: 2px solid $gray;
    box-shadow: 0 0 7px 0 rgba($gray, 0.5);
    &::before {
      width: 54%;
      background-color: $light-gray;
    }
    &::after {
      width: 52%;
      background-color: $gray;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 1em;
    margin: 0;
    padding: 5px 10px;
  }
}
