// ==========  COLORS  ========== //
$white: #FBFBFB;
$gray: #4B4A4C;
$black: #0f0f0f;
$light-gray: #D5CFCF;
$dark-gray: #1e1e1e;


// ==========  FONTS  ========== //
// ==========  family
$font: 'Work Sans', sans-serif;

// ==========  weight
$light: 300;
$regular: 400;
$bold: 600;
