* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: $font;
  font-size: 100%;
  // text-transform: uppercase;
  color: $dark-gray;
  line-height: 3em;
}
.wrap {
  max-width: 740px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (max-width: 767px) {
  body {
    line-height: 2em;
  }
}
